
nav {
  background-color: rgb(9, 27, 93);
}
.category-button {
  font-size: 20px;
  color: rgb(9, 27, 93);
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}


.category-button:focus {     
  background-color:white;    
}

.container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container-inner {
  text-align: center;
  max-width: 80%;
  max-height: 80%;
}

#question-container, #answer-container {
  font-size: 20px;  
  max-width: 300px;
  color: rgb(9, 27, 93);
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}

.nav-wrapper {
  font-size: 20px;
  text-align: center;
}

#chooseCategoryButton {
 background-color: rgb(9, 27, 93);
 margin-bottom: 20px;
}

#nextQuestionButton {
  background-color: rgb(9, 27, 93);
  margin-bottom: 20px;
 }

#prevQuestionButton{
  background-color: rgb(9, 27, 93);
  margin-bottom: 20px;

}

 #help {
  margin: 10px;
  color: rgb(9, 27, 93);
}

 .progress-title  {
  margin: 50px;
  color: rgb(9, 27, 93);
  font-weight: bold;
  font-size: 15px;
  text-align: center;
 }

 .progress {
  background-color: gray;
}

#progress-bar {
  background-color: rgb(9, 27, 93);

}